h1 Заметки

p Сырые заметки по исполнению задания. Прочтение на свой страх и риск.
p Так же является тестом на чтение произвольных файлов.
p =link_to 'GitHub', 'https://github.com/johnthesmith/ruby-test', target:'_blank'


div class="Text"
    =@result