// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Common styles.
// I must found place for this styles, but i don't know where located that place now.


// Reset all margins paddings and other...
*
{
    padding:0;
    margin:0;
    border:none;
}


// Restore list padding after *
li
{
    margin-left:2em;
}



// Restore pharagraph padding after *
p
{
    padding-bottom:0.5em;
    padding-top:0.5em;
}




input, textarea
{
  padding:0.2em 1em 0.2em 1em;
  border:1px solid #7c7c7c;
  background-color: #cccccc;
  margin:0.2em;
  border-radius:0.2em;
}


// Top menu in "application.html.slim"
body .Menu
{
    display:flex;
    background-color:maroon;
}



// Content for all frames in "application.html.slim"
body .Content
{
    padding:1em;
}



body .Menu a
{
    padding:1em;
    color:white;
}



body .Menu a:hover
{
    background-color: red;    
}



body .Menu .Space
{
  flex-grow:1;
}



body .Text
{
  background-color: #FFFFAA;
  border: 1px solid black;
  padding: 1em;
  white-space: pre;
}


.notice
{
  padding:1em;
  margin:1em;
  background-color:#aaffaa;
  position:fixed;
  bottom:0;
  right:0;
  box-shadow:0 0 1em rgba(0,0,0,0.3);
  border-radius:1em;
  border:1px solid #007c00;
}


.notice:empty
{
  display:none;
}



.alert
{
  padding:1em;
  margin:1em;
  background-color:#ffaaaa;
  position:fixed;
  bottom:0;
  right:0;
  box-shadow:0 0 1em rgba(0,0,0,0.3);
  border-radius:1em;
  border:1px solid #7c0000;
}



.alert:empty
{
  display:none;
}